* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    font-family: 'PT Sans', sans-serif;
}

section {
    margin-top: 50px;
}

/* HEADER */


header {
    background-color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px grey;
    padding: 0 30px;
}

.logo {
    display: block;
}


a {
    text-decoration: none;
}

/* ULTIS */

.underline {
    text-decoration: underline;
}

.b-radius50 {
    border-radius: 50%;
}

.btn-purple {
    background-color: #9792E4;
    padding: .5rem 3rem;
    border-radius: 20px;
}

.app-button {
    text-align: center;
}

.img-size {
    height: 150px;
    width: 150px;
}

.btn-white {
    background-color: white;
    padding: .7rem;
    border-radius: 20px;
}

.btn-white-large {
    background-color: white;
    padding: .7rem 5rem;
    border-radius: 20px;
}

.btn-blue {
    background-color: #0084FD;
    color: white;
    padding: .7rem 3rem;
    border-radius: 50px;
}

.d-flex {
    display: flex;
}

ul {
    list-style: none;
}

ul li {
    padding-right: 20px;
}

.bck-blue {
    background-color: #0184FE;
}

.bck-azure {
    background-color: #B5DDFF;
}

.bck-purple {
    background-color: #9792E4;
}

.bck-black {
    background-color: black;
}

.bck-white {
    background-color: white;
}

.txt-center {
    text-align: center;
}

.color-azure {
    color: #0084FD;
}

.color-purple {
    color: #9792E4;
}

.font-size-2rem {
    font-size: 2rem;
}

.font-size-3 {
    font-size: 2.5rem;
}

.font-size-4 {
    font-size: 3.5rem;
}

.pad-all {
    padding: 1rem;
}

.pad-left30 {
    padding-left: 30px;
}

.pad-top20 {
    padding-top: 20px;
}

.pad-top50 {
    padding-top: 50px;
}

.pad-bot20 {
    padding-bottom: 20px;
}

.l-height25 {
    line-height: 25px;
}

.l-height40 {
    line-height: 40px;
}

.w-100 {
    width: 100%;
}

.color-white {
    color: white;
}

.color-light-purple {
    color: #D5D4F4;
}

.color-yellow {
    color: #FDC15F;
}


/* GENERICS */



.container {
    width: 375px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    flex-wrap: wrap;
}

.fa-apple {
    padding-right: 5px;
}

ul li:last-child {
    padding-right: 0;
}


/* JUMBOTRON */

.small-jumbo-col,
.big-jumbo-col {
    width: 100%;
    padding: 30px 30px;
}

.big-jumbo-card {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border-radius: 30px;
}

.big-jumbo-card img {
    display: block;
}

.small-jumbo-card {
    padding: 1rem;
    border-radius: 30px;
}


/* PLANS */

.fa-file-code {
    font-size: 50px;
    color: #0084FD;
}

.small-plans-col,
.big-plans-col {
    width: 100%;
    padding: 30px 30px;
}

.small-plans-card,
.big-plans-card {
    border-radius: 30px;
}

.font-big {
    font-size: 70px;
}


/* TESTIMONIALS */


.small-test-card img {
    height: 220px;
    width: 220px;
}

.small-test-col,
.big-test-col {
    width: 100%;
    padding: 30px 30px;
}

.small-test-card,
.big-test-card {

    border-radius: 30px;
}


/* BENEFITS */


.small-fits-col,
.big-fits-col {
    width: 100%;
    padding: 30px 30px;
}

.small-fits-card,
.big-fits-card {

    border-radius: 30px;
}


/* ABOUT US */


.small-about-col,
.big-about-col {
    width: 100%;
    padding: 30px 30px;
}

.small-about-card,
.big-about-card {
    border-radius: 30px;
}

.pos-rel{
    position: relative;
}

.virgolette-volanti{
    position: absolute;
    font-size: 200px;
    top: -20px;
    right: 0;
    color: #9792E4;
}

/* GET STARTED */


.small-start-col,
.big-start-col {
    width: 100%;
    padding: 30px 30px;
}

.small-start-card,
.big-start-card {
    border-radius: 30px;
}


/* FOOTER */


.footer-col {
    width: 100%;
    padding: 30px 30px;
}

.nav-long {
    display: none;
}


/* QUERY 810 PX TABLET */


@media screen and (min-width: 810px) {
    .container {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    /* JUMBO QUERY */


    .big-jumbo-col {
        width: calc(100% / 3 * 2);

    }

    .small-jumbo-col {
        width: calc(100% / 3);
    }

    .small-jumbo-card {
        height: 100%;
    }

    .big-jumbo-col p,
    .small-jumbo-col p {
        font-size: 1.2rem;
        line-height: 40px;
    }

    .big-jumbo-col img {
        height: 300px;
        width: 250px;
    }

    .jumbo-text h2 {
        text-align: left;
    }

    .app-button {
        text-align: left;
    }

    .fa-file-code,
    .fa-compass-drafting,
    .fa-laptop-code,
    .fa-bullhorn {
        font-size: 110px;
    }

    /* PLANS QUERY */

    .small-plans-card h2 {
        font-size: 5rem;
    }


    /* TESTIMONIAL QUERY */
    .image-text {
        padding-left: 30px;
    }

    .small-test-card h4 h2 p {
        font-size: 3rem;
    }

    .small-test-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }




    /* BENEFITS QUERY */


    .small-fits-col {
        width: 50%;
    }


    /* ABOUT US */


    .row {
        flex-direction: row;
    }

    .big-about-col {
        width: 65%;
    }

    .small-about-col {
        width: 35%;
    }

    .small-about-card h5 {
        text-align: left;
        font-size: 1.4rem;
    }

    
    /* GET STARTED QUERY */
    

    .small-start-card{
        width: 50%;
    }
    .small-start-col h5 {
        font-size: 3rem;
    }
    .small-start-col h6 {
        font-size: 1rem;
    }

    .small-start-col h2 {
        font-size: 6rem;
    }

    .small-start-col p {
        font-size: 2rem;
        line-height: 35px;
    }

    .small-start-col .btn-white-large{
        padding: 2rem 4rem;
        border-radius: 70px;
        font-size: 1.5rem;
    }



    /* FOOTER QUERY NO CHANGE */

}


/* QUERY 1200 PX DESKTOP */


@media screen and (min-width: 1200px) {


    /* NAV SWAP HEADER */


    .hamburger-icon {
        display: none;
    }

    .nav-long {
        display: block;
    }

    .container {
        max-width: 1200px;
    }
    
    .small-plans-col,
    .big-plans-col {
        display: flex;
        flex-direction: column;
        width: calc(100% /3);
        padding: 30px 30px;
    }

    .small-fits-col {
        width: 30%;
    }

    .big-jumbo-card{
        display: flex;
        height: 100%;
    }

    .phone-image img{
        height: 400px;
        width: 350px;
    }
    .virgolette-volanti{
        right: 40px;
    }
}