* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    font-family: 'PT Sans', sans-serif;
}

section {
    margin-top: 50px;
}

/* HEADER */


header {
    background-color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px grey;
    padding: 0 30px;
}

.logo {
    display: block;
}


a {
    text-decoration: none;
}

/* ULTIS */

.underline {
    text-decoration: underline;
}

.b-radius50 {
    border-radius: 50%;
}

.btn-purple {
    background-color: #9792E4;
    padding: .5rem 3rem;
    border-radius: 20px;
}

.img-size {
    height: 150px;
    width: 150px;
}

.btn-white {
    background-color: white;
    padding: .7rem;
    border-radius: 20px;
}

.btn-white-large {
    background-color: white;
    padding: .7rem 5rem;
    border-radius: 20px;
}

.btn-blue {
    background-color: #0084FD;
    color: white;
    padding: .7rem 3rem;
    border-radius: 50px;
}

.d-flex {
    display: flex;
}

ul {
    list-style: none;
}

ul li {
    padding-right: 20px;
}

.bck-blue {
    background-color: #0184FE;
}

.bck-azure {
    background-color: #B5DDFF;
}

.bck-purple {
    background-color: #9792E4;
}

.bck-black {
    background-color: black;
}

.bck-white {
    background-color: white;
}

.txt-center {
    text-align: center;
}

.color-azure {
    color: #0084FD;
}

.color-purple {
    color: #9792E4;
}

.font-size-2rem {
    font-size: 2rem;
}

.font-size-3 {
    font-size: 2.5rem;
}

.font-size-4 {
    font-size: 3.5rem;
}

.pad-all {
    padding: 1rem;
}

.pad-top20 {
    padding-top: 20px;
}

.pad-top50 {
    padding-top: 50px;
}

.pad-bot20 {
    padding-bottom: 20px;
}

.l-height25 {
    line-height: 25px;
}

.l-height40 {
    line-height: 40px;
}

.w-100 {
    width: 100%;
}

.color-white {
    color: white;
}

.color-light-purple {
    color: #D5D4F4;
}

.color-yellow {
    color: #FDC15F;
}


/* GENERICS */



.container {
    width: 375px;
    margin: 0 auto;
    border: 4px inset black;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    flex-wrap: wrap;
}

.fa-apple {
    padding-right: 5px;
}

ul li:last-child{
    padding-right: 0;
}


/* JUMBOTRON */

.small-jumbo-col,
.big-jumbo-col {
    width: 100%;
    padding: 30px 30px;
}

.big-jumbo-card {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    border-radius: 30px;
}

.big-jumbo-card img {
    display: block;
}

.small-jumbo-card {
    padding: 1rem;
    border-radius: 30px;
}

.small-jumbo-card {
    border: 4px inset black;
}

.big-jumbo-card {
    border: 4px inset black;
}

/* PLANS */

.fa-file-code {
    font-size: 50px;
    color: #0084FD;
}

.small-plans-col,
.big-plans-col {
    width: 100%;
    padding: 30px 30px;
}

.small-plans-card,
.big-plans-card {
    border-radius: 30px;
}

.font-big {
    font-size: 70px;
}

.small-plans-card {
    border: 4px inset black;
}

.big-plans-card {
    min-height: 500px;
    border: 4px inset black;
}



/* TESTIMONIALS */

.small-test-card img {
    height: 250px;
    width: 250px;
}

.small-test-col,
.big-test-col {
    width: 100%;
    padding: 30px 30px;
}

.small-test-card,
.big-test-card {

    border-radius: 30px;
}

.small-test-card {
    border: 4px inset black;
}

.big-test-card {
    border: 4px inset black;
}

.title-test-card {
    border: 4px inset white;
}


/* BENEFITS */


.small-fits-col,
.big-fits-col {
    width: 100%;
    padding: 30px 30px;
}

.small-fits-card,
.big-fits-card {

    border-radius: 30px;
}

.small-fits-card {
    border: 4px inset black;
}

.big-fits-card {
    border: 4px inset black;
}

.title-fits-card {
    border: 4px inset white;
}


/* ABOUT US */


.small-about-col,
.big-about-col {
    width: 100%;
    padding: 30px 30px;
}

.small-about-card,
.big-about-card {
    border-radius: 30px;
}

.small-about-card {
    min-height: 250px;
    border: 4px inset black;
}

.big-about-card {
    min-height: 500px;
    border: 4px inset black;
}

.title-about-card {
    border: 4px inset white;
    min-height: 100px;
}


/* GET STARTED */


.small-start-col,
.big-start-col {
    width: 100%;
    padding: 30px 30px;
}

.small-start-card,
.big-start-card {
    border-radius: 30px;
}

.small-start-card {
    border: 4px inset black;
}

.big-start-card {
    border: 4px inset black;
}

.title-start-card {
    border: 4px inset white;
}


/* FOOTER */


.title-card {
    border: 4px inset white;
    min-height: 100px;
}

.footer-col {
    width: 100%;
    padding: 30px 30px;
}

.nav-long {
    display: none;
}


/* QUERY 810 PX TABLET */


@media screen and (min-width: 810px) {
    .container {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    /* JUMBO QUERY */


    .big-jumbo-col {
        width: calc(100% / 3 * 2)
    }

    .small-jumbo-col {
        width: calc(100% / 3)
    }

    .small-jumbo-card {
        height: 100%;
    }

    /* PLANS QUERY */

    .small-plans-card h2 {
        font-size: 5rem;
    }


    /* TESTIMONIAL QUERY */

    .small-test-card h4 h2 p{
        font-size: 3rem;
    }




    /* BENEFITS QUERY */


    .small-fits-col {
        width: 50%;
    }


    /* ABOUT US */


    .row {
        flex-direction: row;
    }

    .big-about-col {
        width: 65%;
    }

    .small-about-col {
        width: 35%;
    }


    /* FOOTER QUERY NO CHANGE */

}


/* QUERY 1200 PX DESKTOP */


@media screen and (min-width: 1200px) {


    /* NAV SWAP HEADER */


    .hamburger-icon {
        display: none;
    }

    .nav-long {
        display: block;
    }

    .container {
        max-width: 1200px;
    }

    .small-plans-col,
    .big-plans-col {
        width: 50%;
        padding: 30px 30px;
    }

    .small-fits-col {
        width: 30%;
    }
}